<header class="alert alert-info text-center mb-0">
  <h1>Storm Gaming</h1>
</header>
<nav>
  <ul class="nav bg-dark">
    <li class="nav-item"><a class="nav-link active" routerLink="/" alt="home">Home</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/bibilioteca" alt="biblioteca">Biblioteca</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/tienda" alt="tienda">Tienda</a></li>  
    <li class="nav-item"><a class="nav-link" routerLink="/amigos" alt="amigos">Amigos</a></li>
  </ul>
</nav>
<main class="container mt-3 text-center">
  <router-outlet></router-outlet>
</main>