

<div class="mb-2">
    <fieldset class="input-group">
        <legend>Agregar Tarea</legend>
        <input #txtNombre type="text" class="form-control" placeholder="Nombre Tarea" />
        <button class="btn btn-outline-success" 
            (click)="agregarTarea(txtNombre.value); txtNombre.value='';">
            &#10084;&#65039;
        </button>
    </fieldset>
</div>

<ul class="list-group">
    <li class="list-group-item active fw-bold text-center">
        Lista de Tareas
    </li>
    <li class="list-group-item" *ngFor="let tarea of tareas">
        <div class="display-5 rounded-circle p-1 bg-secondary float-start me-3">
            &#10084;&#65039;
        </div>
        <button class="btn btn-secondary display-5 rounded-circle float-end mt-3" 
            (click)="eliminarTarea(tarea.id)">
            💔
        </button>
        <h5 class="fw-bold">{{tarea.titulo}}</h5>
        <div [class]="tarea.prioridad">
            {{tarea.prioridad}}
        </div>
    </li>
    <li *ngIf="tareas.length === 0" class="list-group-item text-center fw-bold">
        💔💔 No hay tareas que mostrar 💔💔
    </li>
</ul>