<h1 [style.backgroundColor]="color">
    {{ titulo | titlecase}}
</h1>

<div [ngStyle]="{ padding : '3em' }">
    <ul class="list-group">
        <li class="list-group-item active">Mis alumnos</li>
        <li class="list-group-item" *ngFor="let alumno of alumnos">
            {{alumno}}
        </li>
        <li class="list-group-item">
            <div class="input-group">
                <input #txtNombre  class="form-control" type="text" />
                <!--<button class="btn btn-outline-primary" (click)="agregarAlumno(txtNombre.value)">-->
                <button class="btn btn-outline-primary" (click)="agregarAlumno(txtNombre)">
                    Agregar
                </button>
            </div>
        </li>
    </ul>
</div>



<button class="btn btn-primary" (click)="alternarDivs()">
    Alternar Divs de Abajo
</button>

<div *ngIf="mostarDiv">
    Se muestra este Div
</div>

<div *ngIf="!mostarDiv">
    Sino se muestra este otro Div
</div>