<div [ngStyle]="{padding:'1em'}">
  
    <mat-grid-list cols="4" rowHeight="3:4" gutterSize="20px">
      <mat-grid-tile *ngFor="let persona of personas" >
        <!--Nunca setear los colores en material design por estilos, lo hago por didactica-->
        <mat-card style="height: 100%; width: 100%; background-color: lightgray">
          <mat-card-header>
            <mat-card-title>{{persona.nombre}}</mat-card-title>
            <mat-card-subtitle>{{persona.cargo}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="persona.imagen" [ngStyle]="{height:'200px'}" />
          <mat-card-content>
            {{persona.description}}
          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="primary" (click)="editar(persona)" >Editar</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  
  
  
  </div>
