<ul class="list-group w-100">
    <li class="list-group-item active">Lista de Tareas</li>
    <li class="list-group-item" *ngFor="let tarea of tareas">
        <!--<div [ngSwitch]="tarea.estado">
            <span class="bg-danger"  *ngSwitchCase="EstadoTarea.Pendiente">
                (PENDIENTE) {{tarea.nombre}}
            </span>
            <span class="bg-primary" *ngSwitchCase="EstadoTarea.EnCurso">
                (PROGRESO) {{tarea.nombre}}
            </span>
            <span class="bg-success" *ngSwitchDefault>
                (FINALIZADO) {{tarea.nombre}}
            </span>
        </div>-->

        <!--
        @switch (tarea.estado) {
            @case (EstadoTarea.Pendiente) {
                <span class="bg-danger">
                    (PENDIENTE) {{tarea.nombre}}
                </span>
            }
            @case (EstadoTarea.EnCurso) {
                <span class="bg-primary">
                    (PROGRESO) {{tarea.nombre}}
                </span>
            }
            @default {
                <span class="bg-success">
                    (FINALIZADO) {{tarea.nombre}}
                </span>
            }
        }-->
        
        <!--A mi me gusta mas asi para que template tenga menos codigo-->
        (ID:{{tarea.id}})-
        <span [ngStyle]=" { backgroundColor :  getColorTareaSegunEstado(tarea)  }">
            {{tarea.nombre}}
        </span>

        <button class="btn btn-danger float-end" (click)="eliminarTarea(tarea)">
            Eliminar
        </button>
    </li>
    <li class="list-group-item" *ngIf="tareas.length == 0">
        No hay tareas
    </li>
</ul>
