<form #personaForm="ngForm" (ngSubmit)="submitForm(personaForm)">
    <!-- opcion para no hacer el submit <form #personaForm="ngForm" (ngSubmit)="submitForm()" ngNativeValidate> -->
    <!-- otra opcion que no muestre el popup de hml <form #personaForm="ngForm" (ngSubmit)="personaForm.valid && submitForm()">-->
    <div class="form-group">
        <label for="documento">Documento</label>
        <input class="form-control" type="number" id="documento" name="documento" [(ngModel)]="modelo.documento" required/>
    </div>
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input #nombre="ngModel" class="form-control" type="text" id="nombre" name="nombre" [(ngModel)]="modelo.nombre" required/>
    </div>
    <div class="form-group">
        <label for="fecha">Fecha De Nacimiento</label>
        <input class="form-control" type="date" id="fechaNacimiento" name="fechaNacimiento" 
               [ngModel]="modelo.fechaNacimiento | date: 'yyyy-MM-dd' "
               (ngModelChange)="modelo.fechaNacimiento = $event"  
               required/>
    </div>

    <!--Disabled si form invalido <button type="submit" class="btn btn-success w-100 mt-3" [disabled]="!personaForm.valid"> Enviar</button>-->
    <button type="submit" class="btn btn-success w-100 mt-3"> Enviar</button>
</form>
<div>
    El nombre es valido{{nombre.valid}}
</div>
<div>
    Valido : {{personaForm.valid}}
</div>
<div>
    {{personaForm.constructor.name}}
</div>
<div>
    {{testData}}
</div>