<form [formGroup]="form" (ngSubmit)="submit()">
    Nombre: 
    <input type="text" class="form-control" [formControlName]="formControlNames.nombre" />
    Especialidad:
    <input type="text" class="form-control" [formControlName]="formControlNames.especialidad"/>
    Desde:
    <div class="input-group">
        <input type="date" class="form-control col-6" formControlName="desdeDia"/>
        <input type="time" class="form-control col-6" formControlName="desdeHora"/>
    </div>
    Hasta:
    <div class="input-group">
        <input type="date" class="form-control col-6" formControlName="hastaDia"/>
        <input type="time" class="form-control col-6" formControlName="hastaHora"/>
    </div>

    <button class="btn btn-success w-100 mt-3">
        Agregar
    </button>
</form>

<div>
    Modelo : {{form.value | json}}
</div>
