<hr />
<button mat-button>Boton</button>
<button>dsds</button>

<hr />
<button mat-icon-button>
    <mat-icon>favorite</mat-icon>
</button>
<hr />
<button mat-fab>
    <mat-icon>add</mat-icon>
</button>
<hr />
<button mat-raised-button>
    <mat-icon>save</mat-icon>
    Save
</button>
<hr />
<button mat-raised-button class="mat-elevation-z1">Botón con elevación</button> <br />
<button mat-raised-button class="mat-elevation-z2">Botón con elevación</button> <br />
<button mat-raised-button class="mat-elevation-z4">Botón con elevación</button> <br />
<button mat-raised-button class="mat-elevation-z6">Botón con elevación</button> <br />
<button mat-raised-button class="mat-elevation-z8">Botón con elevación</button> <br />
<button mat-raised-button class="mat-elevation-z10">Botón con elevación</button> <br />
<button mat-raised-button class="mat-elevation-z15">Botón con elevación</button> <br />
<button mat-raised-button class="mat-elevation-z20">Botón con elevación</button> <br />
<button mat-raised-button class="mat-elevation-z24">Botón con elevación</button> <br />

