<app-cabecera titulo="Angular Tecnology News"></app-cabecera>
<nav class="navbar-nav bg-dark">
  <ul  class="nav mx-auto">
    <li class="nav-item"><a class="nav-link" routerLink="">Home</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="servicios">Servicios</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="aboutus">Quienes Somos</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="contacto">Contacto</a></li>
  </ul>
</nav>
<main class="container mt-4">
  <router-outlet></router-outlet>
</main>