<header class="text-center bg-dark text-light p-3">
  <h1>Angular Clase 8</h1>
  <h2>Bienvenidos a Angular Routing</h2>
</header>
<nav class="bg-dark text-light">
    <ul class="nav justify-content-center p-1">
      <li class="nav-item"><a class="nav-link" href="home">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="producto">Productos</a></li>
      <li class="nav-item"><a class="nav-link" href="contacto">Contacto</a></li>
    </ul>
</nav>
<main class="container">
  <router-outlet></router-outlet>
</main>
