<header class="alert alert-primary text-center mb-0">
  <h1 class="display-3">Ng-Crypto</h1>
  <h2 class="display-4">La mejor pagina de Crytos hecha en Agunlar</h2>
</header>
<nav class="bg-dark">
  <ul class="nav">
    <li class="nav-item"><a class="nav-link" routerLink="">Home</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="cryptos">Cryptos</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="cuenta">Cuenta</a></li>
  </ul>
</nav>
<main class="container mt-2">
  <router-outlet></router-outlet>
</main>