<header>
  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>

    <span>{{titulo}}</span>

    <mat-menu #menu>
      <button mat-menu-item>Acerca de</button>
      <button mat-menu-item>Ayuda</button>
      <button mat-menu-item>Contacto</button>
    </mat-menu>

  </mat-toolbar>
</header>

<app-lista-personas (editarPersona)="pasarPersonaAlForm($event)"></app-lista-personas>
<app-form-persona></app-form-persona>





<div [ngStyle]="{padding:'1em'}">
  <button mat-button>Un boton de Material Design</button>
  <button mat-raised-button color="accent">Un boton de Material Design</button>
</div>