<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h2>Servicio</h2>
        </mat-card-title>
        <mat-card-subtitle>
            <h3>Lo mejor de lo mejor</h3>
        </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://picsum.photos/400" [style.height]="'150px'" />
    <mat-card-content>
        <p>Si queres el mejor servicio de programacion en agular llamanos</p>
    </mat-card-content>
    <mat-card-actions>
        <button color="accent" mat-button>Mas Informacion..</button>
    </mat-card-actions>
</mat-card>