/*.mat-grid-tile {
  max-height: none; /* Restablece la altura máxima predeterminada */
/*  display: flex;
  flex-direction: row;
  height: 100%;
}

.mat-card {
  flex-grow: 1; /* Permite que el contenido de la tarjeta crezca verticalmente */
/*  height: 100%;
}

mat-grid-list {
  height: 100%;
}*/

.mat-card-full-height {
  height: 100%;
}

.mat-grid-tile-content{
  height: 100%;
}