<div class="container mt-4">
    <h2>Lista de Contactos</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Documento</th>
                <th>Fecha de Nacimiento</th>
                <th>Género</th>
                <th class="text-end">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contacto of contactos">
                <td>{{ contacto.nombre }}</td>
                <td>{{ contacto.documento }}</td>
                <td>{{ contacto.fechaNacimiento | date : 'yyyy-MM-dd'}}</td>
                <td>{{ contacto.genero}}</td>
                <td class="text-end">
                    <a [routerLink]=" 'editar/' + contacto.id" class="btn btn-primary me-2">
                        Editar
                    </a>
                    <button class="btn btn-danger" >Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
