<div class="container mt-4">
    <h2>Lista de Contactos</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Fecha de Nacimiento</th>
                <th>Género</th>
                <th class="text-end">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Juan Pérez</td>
                <td>15/01/1980</td>
                <td>Masculino</td>
                <td class="text-end">
                    <a routerLink="editar/1" class="btn btn-primary me-2">Editar</a>
                    <button class="btn btn-danger" >Eliminar</button>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>María García</td>
                <td>24/08/1992</td>
                <td>Femenino</td>
                <td  class="text-end">
                    <a routerLink="editar/2" class="btn btn-primary me-2">Editar</a>
                    <button class="btn btn-danger" >Eliminar</button>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Alex Martínez</td>
                <td>30/05/2001</td>
                <td>No Binario</td>
                <td  class="text-end">
                    <a routerLink="editar/3" class="btn btn-primary me-2">Editar</a>
                    <button class="btn btn-danger" >Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
