<p>formulario-agregar works!</p>

<form [formGroup]="contactoForm">
    <div class="form-group">
      <label for="id">ID</label>
      <input type="number" id="id" class="form-control" formControlName="id">
      <div *ngIf="contactoForm.get('id')?.invalid && contactoForm.get('id')?.touched" class="text-danger">
        ID es requerido y debe ser un número.
      </div>
    </div>
  
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" id="nombre" class="form-control" formControlName="nombre">
      <div *ngIf="contactoForm.get('nombre')?.invalid && contactoForm.get('nombre')?.touched" class="text-danger">
        Nombre es requerido.
      </div>
    </div>
  
    <div class="form-group">
      <label for="fechaNacimiento">Fecha de Nacimiento</label>
      <input type="date" id="fechaNacimiento" class="form-control" formControlName="fechaNacimiento">
      <div *ngIf="contactoForm.get('fechaNacimiento')?.invalid && contactoForm.get('fechaNacimiento')?.touched" class="text-danger">
        Fecha de Nacimiento es requerida.
      </div>
    </div>
  
    <!--
    <div class="form-group">
      <label for="genero">Género</label>
      <select id="genero" class="form-control" formControlName="genero">
        <option [value]="null" disabled>Seleccione género</option>
        <option *ngFor="let gen of generos" [value]="gen">{{ gen }}</option>
      </select>
      <div *ngIf="contactoForm.get('genero').invalid && contactoForm.get('genero').touched" class="text-danger">
        Género es requerido.
      </div>
    </div>-->
  
    <button type="submit" class="btn btn-primary" [disabled]="contactoForm.invalid">Agregar Contacto</button>
  </form>

<a class="btn btn-primary me-2" routerLink="">Volver al listado con RoterLink</a>