<header class="alert alert-info text-center mb-0">
  <h1 class="display-1">
    Inventory Control System
  </h1>
</header>
<nav class="bg-dark">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="text-white" routerLink="/inicio">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="text-white" routerLink="/producto">Productos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="text-white" routerLink="/categoria">Categorias</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="text-white" routerLink="/inventario">Inventario</a>
    </li>
  </ul>
</nav>

<main class="container">
  <router-outlet></router-outlet>
</main>