<table class="table table-stripped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Cuit</th>
            <th>Direccion</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let proveedor of proveedores">
            <td>{{ proveedor.nombre}}</td>
            <td>{{ proveedor.cuit}}</td>
            <td>{{ proveedor.direccion}}</td>
            <td class="text-end me-3">
                <a class="btn btn-success me-2" [routerLink]="['editar',proveedor.id]">
                    Editar
                </a>
                <button class="btn btn-danger" type="button" 
                  (click)="eliminar(proveedor.id)">
                    Eliminar
                </button>
            </td>
        </tr>
    </tbody>
</table>
<a routerLink="agregar" class="btn btn-success w-100 mt-2">Agregar</a>
